
#nameTitle {
    font-size: 48pt;
}

.miniIcon {
    height: 18px;
    width: 18px;
}

.midIcon {
    height: 25px;
    vertical-align: center;
}

.bigIcon {
    height: 40px;
    vertical-align: center;
}


#myCanvas { background-color: rgba(158, 167, 184, 0.2); }

